/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  }

body{
  font-family: "Arial";
  color: White;
  font-size: 25px;
  background: RosyBrown ;
  }

mat-toolbar{
  opacity: 0.5;
  }

.other{
  font-family: "Arial Black";
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px Black;
  }

.navbar{
  background-color: black;
  opacity: 0.4;
  }


