<!--The content below is only a placeholder and can be replaced.-->
<div class = "divspace"></div>
<div class = "centerpage">
  ADHAY VRAICH
  <p class="other">Aspiring Developer</p>
  <div>
    <button mat-fab>
      <mat-icon></mat-icon>
    </button>
  </div>
  </div>


<!--<mat-toolbar>
</mat-toolbar>-->
<mat-tab-group>
  <mat-tab label="Home">
    <div class="content">
      0.0
    </div>
  </mat-tab>
  <mat-tab label="Experience">
    <div class="content">
      Flow Academy of Motion — February 2017 - PRESENT
      STAFF INSTRUCTOR
      ●	Design curriculum and lead classes of 5-20 students in parkour and gymnastics exercises.
      ●	Supervise and mentor students ranging from ages 4-18 years to maintain a fun and safe environment.
      ●	Manage administrative office duties, such as updating the academy’s customer database, processing payments, class scheduling, and providing customer service over the phone and in person.
      ●	Plan and execute the marketing campaign through social media, email, and local marketing in Auckland.
      ●	Quickly promoted to senior training staff and given extra responsibility of administrative and marketing tasks
      Albany Minigolf — February 2015 - December 2016
      TEAM MEMBER
      ●	Managed the day-to-day operation of the business, including handling transactions, resolving customers’ problems, and managing the store café.
      ●	Consistently received excellent customer service reviews
    </div>
  </mat-tab>
  <mat-tab label="Skillset">
    <div class="content">
      <p>Languages: Python, Java, SQL, HTML, R</p>
      <p>Applications: Microsoft Word, Microsoft Excel, Microsoft PowerPoint, Microsoft Access, Eclipse, IntelliJ</p>
      <p>Skills: Teamwork, problem solving, customer service, high level of communications skills, self-motivated</p>
      <p>Concepts: Web development, Agile, Scrum</p>
    </div>
  </mat-tab>
  <mat-tab label="Contact Me">
    <div class="content">
      2
    </div></mat-tab>
</mat-tab-group>



<!--<mat-card class = "card">
</mat-card>-->

<router-outlet></router-outlet>
