<!--The content below is only a placeholder and can be replaced.-->
<div class = "divspace"></div>
<div class = "centerpage">
  ADHAY VRAICH
  <p class="other">Aspiring Developer</p>
</div>
<!--<mat-toolbar>
</mat-toolbar>-->
<mat-tab-group>
  <mat-tab label="Home">
    <div>About me</div>
  </mat-tab>
  <mat-tab label="Experience">Work experience</mat-tab>
  <mat-tab label="Skills">Summer of skills</mat-tab>
  <mat-tab label="Contact Me">email and phone</mat-tab>
</mat-tab-group>


<div class = "other">Adhay Vraich</div>

<!--<mat-card class = "card">
</mat-card>-->

<router-outlet></router-outlet>
